.E{
  color: aliceblue;
  display: flex;
}
.L{
  color: aliceblue;
  margin-left:10px;
  margin-top: 5px;
  position: absolute;
}

.jumbotron.text-center{
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D16AQFaBF0mpu03KA/profile-displaybackgroundimage-shrink_200_800/0?e=1594252800&v=beta&t=CJ_PywxKjF_NaWhHNDHb_yvZ2db_-ytG6NTxNQqi864");
  background-size: 100% 100%;
  background-blend-mode:screen;
}
.text-cent{
  margin: 20px;
  text-align: center;
}
.foto-perfil{
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
  border:5px solid grey;
}
.card-img-top{
  height: 225px; 
  width: auto; 
  display: block;
}
.icons{
  margin: 20px;
}

.fab{
  height: 100%;
  width: auto;
  color: black;
  transition: transform 1s;
  transform: translateZ(0) scale(2.0);
}
.fab:hover{
  transform: translateZ(10px) scale(2.5);
  opacity: 0.9;
}
.tecs{
  color: rebeccapurple;
}
.JavaScript{
  color:rgb(233, 233, 7) ;
}

.react-native{
  color: rgb(0, 162, 255);
}

.html{
  color: rgb(255, 38, 0);
}

.css{
  color: blueviolet;
}

.react-js{
  color: rgb(71, 212, 212);
}

.nodeJS{
  color: rgb(0, 255, 98);
}

ul{
  margin-left:-20px;
}

.foto-perfil{
  transition: transform 1s;
  transform: translateZ(0) scale(0.9);
}

.foto-perfil:hover,
.foto-perfil:focus{
  transform: translateZ(10px) scale(1.0);
  border-color:rgb(150, 150,150);
}

.btn.btn-dark.my-2{
  transition: transform 1s;
  transform: translateZ(0) scale(0.9);
}

.btn.btn-dark.my-2:hover,
.btn.btn-dark.my-2:focus{
  transform: translateZ(10px) scale(1.0);
}
