*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 300px) {
  body {
    font-size: 12px;
    align-items: center;
    background-position: center;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    align-items: center;
    margin-right: 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 15px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    align-items: center;
    margin-right: 0;
    background-position: center;
    font-size: 15px;
  }
}


.jumbotron.text-center{
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D16AQFaBF0mpu03KA/profile-displaybackgroundimage-shrink_200_800/0?e=1594252800&v=beta&t=CJ_PywxKjF_NaWhHNDHb_yvZ2db_-ytG6NTxNQqi864");
  background-size: 100% 100%;
  background-blend-mode:screen;
}
.container-prim{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 500ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.text-cent{
  margin: 20px;
  text-align: center;
}
.foto-perfil{
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
  border:5px solid grey;
}
.card-img-top{
  height: 225px; 
  width: auto; 
  display: block;
}
.foto-perfil{
  transition: transform 1s;
  transform: translateZ(0) scale(0.9);
}

.foto-perfil:hover,
.foto-perfil:focus{
  transform: translateZ(10px) scale(1.0);
  border-color:rgb(150, 150,150);
}

.jumbotron-heading,
.lead.text-muted{
  transition: transform 1s;
  transform: translateZ(0) scale(1.0);
}

.jumbotron-heading:hover,
.lead.text-muted:hover{
  transform: translateZ(10px) scale(1.1);
}

.icons{
  margin: 20px;
}

.fab{
  height: 100%;
  width: auto;
  color: black;
  transition: transform 1s;
  transform: translateZ(0) scale(2.0);
}

.fab:hover{
  transform: translateZ(10px) scale(2.5);
  opacity: 0.9;
}

.card-body:hover .card-img-top {
  transform: rotateY(180deg);
}

.card-img-top  {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.btn.btn-sm.btn-outline-success{
  margin-right: 10px;
}

.tecs{
  font-size: 20px;
  color: rebeccapurple;
}
.JavaScript{
  color:rgb(233, 233, 7) ;
}

.react-native{
  color: rgb(0, 162, 255);
}

.html{
  color: rgb(255, 38, 0);
}

.css{
  color: blueviolet;
}

.react-js{
  color: rgb(71, 212, 212);
}

.nodeJS{
  color: rgb(0, 255, 98);
}

ul{
  margin-left:10px;
  list-style: none;
}

#font-press, 
#sobre{
  font-style: normal;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8em;
}

#sobre{
  font-size: 15px;
}

#projects{
  display:flex; 
  position: relative;
  margin-top:0%;
}

.container p{
  text-align: justify;
}

#card-boder{
  height: 380px;
}